# Current version should be loaded from
# https://www.oenb.at/docroot/downloads_observ/sepa-zv-vz_gesamt.csv
/src/data/*.csv

# Project stuff
/coverage/
/dist/
/docs/

# WebStorm
.idea/*

# Mac
.DS_Store

# Windows
Thumbs.db

# NPM
/node_modules/
package/
*.tgz
*.log
